/* =============== Navbar Background and Color Changes =============== */
html:not([data-scroll='0']) .header,
.header.colored-navbar {
  background-color: white;
  box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.5);
  color: #333333;
}

.content .header.colored-navbar {
  transition: none;
}

/* Logo Image for Scroll */
html[data-scroll='0'] .header .logo_img {
  background-image: url('/hamsa-logo-white.svg');
}

html:not([data-scroll='0']) .header .logo_img,
.content .header.colored-navbar .logo_img {
  background-image: url('/hamsa-logo.svg');
}

.header .logo_img {
  background-size: cover;
  background-position: center;
}

/* Logo Text Color */
html:not([data-scroll='0']) .header .logo_hamsa,
.header.colored-navbar .logo_hamsa {
  color: #17457c;
}

html:not([data-scroll='0']) .header .logo_tech,
.header.colored-navbar .logo_tech {
  color: #d7150e;
}

/* Navbar Link Colors */
html:not([data-scroll='0']) .header .nav_link,
.header.colored-navbar .nav_link {
  color: #333333;
}

.header.colored-navbar .nav_link:hover {
  color: #d62c26;
}

/* Ant Design Selectors for Navbar */
html:not([data-scroll='0'])
  .header
  .ant-select-single.ant-select-show-arrow
  .ant-select-selection-item,
html:not([data-scroll='0']) .header .ant-select .ant-select-arrow svg,
.header.colored-navbar
  .ant-select-single.ant-select-show-arrow
  .ant-select-selection-item,
.header.colored-navbar .ant-select .ant-select-arrow svg {
  color: #333333;
}

.header .ant-select,
.header.colored-navbar .ant-select {
  transition: none;
}

/* Right-side Navbar Icons */
html[data-scroll='0'] .header .shopping-cart,
html[data-scroll='0'] .header .wishlist,
html[data-scroll='0'] .header .profile,
html[data-scroll='0'] .header .seach-btn,
html[data-scroll='0'] .header .hamburger-menu {
  color: white;
}

html:not([data-scroll='0']) .header .shopping-cart,
html:not([data-scroll='0']) .header .wishlist,
html:not([data-scroll='0']) .header .profile,
html:not([data-scroll='0']) .header .seach-btn,
html:not([data-scroll='0']) .header .hamburger-menu {
  color: #333333;
}

.content .header.colored-navbar .shopping-cart,
.content .header.colored-navbar .wishlist,
.content .header.colored-navbar .profile,
.content .header.colored-navbar .seach-btn,
.content .header.colored-navbar .hamburger-menu {
  color: #333333;
}

/* Search Input in Navbar */
.header
  .search-input-navbar
  .ant-input-group
  > .ant-input:first-child {
  color: #333333;
  border-color: #333333;
}
html[data-scroll='0']
  .header:not(.colored-navbar)
  .seach-btn.ant-btn-variant-link:not(:disabled):not(
    .ant-btn-disabled
  ):hover {
  color: white;
}

.seach-btn.ant-btn-variant-link:not(:disabled):not(
    .ant-btn-disabled
  ):hover {
  color: #333333;
}

.link-search-item:hover .name,
.link-search-item:hover .brand {
  text-decoration: underline;
}

/* =============== End of Navbar Background and Color Changes =============== 
/* Category Card */
.category-card:hover .heading-icon::before {
  color: white;
}

.category-card:hover h2,
.category-card:hover p,
.category-card:hover span {
  color: white;
}

.category-card:hover .btn i {
  border-color: white;
}

.category-card .btn:hover i {
  background-color: white;
  color: #d9363e;
}

/* Article Card */
.article-card:hover img {
  transform: scale(1.05);
}
.article-card:hover .footer {
  bottom: 0;
}

/* Footer */
.quick-links:hover .icon {
  transform: translateX(5px);
}
.quick-links .icon {
  transition: transform 0.1s ease-in;
  transform: translateX(0px);
}

.quick-links:hover .icon.flip {
  transform: translateX(-5px) rotateY(180deg);
}
.quick-links .icon.flip {
  /* transition: transform 0.1s ease-in; */
  transform: translateX(0px) rotateY(180deg);
}

/* Product Page */
.imageZoom {
  width: 500px;
  height: 300px;
  position: relative;
}

.imageZoom:hover {
  cursor: crosshair;
}

.imageZoom::after {
  /* display: var(--display); */
  opacity: var(--opacity);
  content: '';
  width: 100%;
  height: 300px;
  background-color: white;
  background-image: var(--url);
  background-size: 200%;
  background-position: var(--zoom-x) var(--zoom-y);
  position: absolute;
  left: 0;
  top: 0;
  transition-property: opacity;
  transition-timing-function: linear;
  transition-duration: 80ms;
  /* margin-top: 30px; */
}

/* @media screen and (min-width: 1280px) {
  .imageZoom::after {
    margin-top: 0;
  }
} */

/* Ant desing spin */
.white.ant-spin .ant-spin-dot-item {
  color: white;
}
.green.ant-spin .ant-spin-dot-item {
  color: rgb(22 163 74);
}

/* Strapi Blocks */
.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}
.strikethrough {
  text-decoration: line-through;
}

.code {
  background-color: #2c2e30;
  color: #f7effe;
  padding: 2px 12px;
  border-radius: 4px;
  margin-inline: 5px;
  line-height: 1rem;
}

/* Cart Input Selector */
/* Chrome, Safari, Edge, Opera */
.no-arrows::-webkit-outer-spin-button,
.no-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.no-arrows {
  -moz-appearance: textfield;
}

/* Custom Animated Arrow Down */
.custom-animated-arrow-down {
  position: absolute;
  top: 50%;
  inset-inline-end: 16px;
  width: 10px;
  color: currentcolor;
  transform: translateY(-50%);
  transition:
    transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
    opacity 0.3s;
}

.custom-animated-arrow-down .arrow-before,
.custom-animated-arrow-down .arrow-after {
  position: absolute;
  width: 6px;
  height: 1.5px;
  background-color: currentcolor;
  border-radius: 8px;
  transition:
    background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
    transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
    top 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
    color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  content: '';
}

/* .arrow-before {
  transform: rotate(45deg) translateY(-2.5px);
}

.arrow-after {
  transform: rotate(-45deg) translateY(2.5px);
} */

.custom-animated-arrow-down .arrow-before {
  transform: rotate(45deg) translateX(-2.5px);
}

.custom-animated-arrow-down .arrow-after {
  transform: rotate(-45deg) translateX(2.5px);
}

.custom-animated-arrow-down-open .arrow-before {
  transform: rotate(-45deg) translateX(-2.5px);
}

.custom-animated-arrow-down-open .arrow-after {
  transform: rotate(45deg) translateX(2.5px);
}

#create-A-review {
  scroll-margin-top: 90px; /* Add extra space */
}
