.listBlock {
  --unordered-list-styles: disc, circle, square;
  --ordered-list-styles: decimal, lower-alpha, lower-roman;
}

.listBlock ul,
.listBlock ol {
  margin-left: 1.5rem;
  list-style-type: var(
    --current-list-style,
    disc
  ); /* Default for unordered */
}

.listBlock ul {
  --current-list-style: disc;
}

.listBlock ul:nth-child(odd) {
  --current-list-style: circle;
}

.listBlock ul:nth-child(even) {
  --current-list-style: square;
}

.listBlock ol {
  --current-list-style: decimal;
}

.listBlock ol:nth-child(odd) {
  --current-list-style: lower-alpha;
}

.listBlock ol:nth-child(even) {
  --current-list-style: lower-roman;
}
